body {
  background: #f6e49b;
  text-align: center;
  text-decoration: none;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font: 50px;
}

a {
  color: green;
  text-align: center;
  text-decoration: none;
}
.email {
  color: blue;
}
img {
  text-align: center;
}
