body {
  background: #f6e49b;
  text-align: center;
  text-decoration: none;
}
h1,
p {
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: green;
  text-decoration: none;
}
.email {
  color: blue;
}
img {
  max-width: 100%;
  border-radius: 10px;
  margin: 30px auto;
  display: block;
}
